@{
    Layout = null;
    var userName = ViewBag.UserName;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helpdesk Form</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
</head>
<body>
    @Html.Partial("_Header")


    <div class="page-container">
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="success-message">@ViewBag.SuccessMessage</div>
        }
        <div class="form-container">
            <form id="entryForm" asp-action="Create" method="post" onsubmit="return validateForm()">
                <div class="input-container">
                    <label for="Firma">Firma<span class="required">*</span>:</label>
                    <input type="text" id="Firma" name="Firma" class="entry-input">
                </div>
                <div class="input-container">
                    <label for="PctLucru">Punct de Lucru<span class="required">*</span>:</label>
                    <input type="text" id="PctLucru" name="PctLucru" class="entry-input">
                </div>
                <div class="input-container">
                    <label for="NrTelefon">Numar Telefon:</label>
                    <input type="text" id="NrTelefon" name="NrTelefon" class="entry-input">
                </div>
                <div class="input-container-row">
                    <div class="input-container">
                        <label for="Data">Data<span class="required">*</span>:</label>
                        <input type="date" id="Data" name="Data" onchange="updateDayOfWeek(this)" class="entry-input">
                    </div>
                    <div class="input-container">
                        <label for="OraApel">Ora Apel<span class="required">*</span>:</label>
                        <input type="time" id="OraApel" name="OraApel" class="entry-input">
                    </div>
                </div>
                <div class="input-container">
                    <label for="DurataApel">Durata Apel<span class="required">*</span>:</label>
                    <input type="text" id="DurataApel" name="DurataApel" class="entry-input">
                </div>
                <div class="input-container">
                    <label for="Problema">Problema:</label>
                    <input type="text" id="Problema" name="Problema" class="entry-input">
                </div>
                <div class="input-container">
                    <label for="Rezolvare">Rezolvare:</label>
                    <input type="text" id="Rezolvare" name="Rezolvare" class="entry-input">
                </div>
                <input type="hidden" id="Zi" name="Zi">
                <button type="submit" class="add-entry-button">Adaugare</button>
            </form>
        </div>
    </div>

    <div id="errorDialog" title="Validation Error" style="display:none;">
        <p id="errorMessage"></p>
    </div>

    @Html.Partial("_Footer")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {
            var currentDate = new Date().toISOString().split('T')[0];
            document.getElementById("Data").value = currentDate;
            updateDayOfWeek({ value: currentDate });

            $("#Firma").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Helpdesk/GetSuggestions",
                        data: { term: request.term, field: "Firma" },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 3,
                select: function (event, ui) {
                    var firma = ui.item.value;
                    $.ajax({
                        url: "/Helpdesk/GetSingleSuggestion",
                        data: { firma: firma },
                        success: function (data) {
                            if (data.pctLucru) {
                                $("#PctLucru").val(data.pctLucru);
                            } else {
                                $("#PctLucru").val('');
                            }
                            if (data.nrTelefon) {
                                $("#NrTelefon").val(data.nrTelefon);
                            } else {
                                $("#NrTelefon").val('');
                            }
                        }
                    });
                },
                change: function (event, ui) {
                    if (!ui.item) {
                        $("#PctLucru").val('');
                        $("#NrTelefon").val('');
                    }
                }
            });

            $("#PctLucru").autocomplete({
                source: function (request, response) {
                    var firma = $("#Firma").val();
                    $.ajax({
                        url: "/Helpdesk/GetSuggestions",
                        data: { term: request.term, field: "PctLucru", firma: firma },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 3
            });

            $("#NrTelefon").autocomplete({
                source: function (request, response) {
                    var firma = $("#Firma").val();
                    var pctLucru = $("#PctLucru").val();
                    $.ajax({
                        url: "/Helpdesk/GetSuggestions",
                        data: { term: request.term, field: "NrTelefon", firma: firma, pctLucru: pctLucru },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 3
            });
        });

        function updateDayOfWeek(input) {
            var date = new Date(input.value);
            var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
            var dayOfWeek = days[date.getDay()];
            document.getElementById("Zi").value = dayOfWeek;
        }

        function validateForm() {
            var firma = document.getElementById("Firma").value.trim();
            var pctLucru = document.getElementById("PctLucru").value.trim();
            var data = document.getElementById("Data").value.trim();
            var oraApel = document.getElementById("OraApel").value.trim();
            var durataApel = document.getElementById("DurataApel").value.trim();
            var durataApelPattern = /^(\d{2}):(\d{2}):(\d{2})$/;

            if (!firma || !pctLucru || !data || !oraApel || !durataApel) {
                showError("All fields marked with * are mandatory.");
                return false;
            }

            if (!durataApelPattern.test(durataApel)) {
                showError("Durata Apel must be in the format XX:XX:XX.");
                return false;
            }

            if (!isValidTime(oraApel)) {
                showError("Ora Apel must be a valid time.");
                return false;
            }

            return true;
        }

        function isValidTime(time) {
            var timePattern = /^([01]?[0-9]|2[0-3]):[0-5][0-9]$/;
            return timePattern.test(time);
        }

        function showError(message) {
            $("#errorMessage").text(message);
            $("#errorDialog").dialog({
                modal: true,
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    }
                }
            });
        }

    </script>
</body>
</html>
