@model HelpdeskApp.Models.ChangePasswordViewModel

@{
    Layout = null;
    var userName = ViewBag.UserName;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @Html.Partial("_Header")
    <div class="login-container">
        <form asp-action="ChangePassword" method="post">
            <div class="input-container">
                <label for="NewPassword">Parola Noua:</label>
                <input type="password" id="NewPassword" asp-for="NewPassword" class="entry-input">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="login-button">Schimbare Parola</button>
        </form>
    </div>
    @Html.Partial("_Footer")
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
