@model HelpdeskApp.Models.ChangePasswordViewModel

@{
    Layout = null;
    var userName = ViewBag.UserName;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
    @Html.Partial("_Header")

    <div class="container mt-5 content">
        <h2 class="text-center mb-4">Schimbare Parolă</h2>
        <form asp-action="ChangePassword" method="post">
            <div class="mb-3">
                <label for="NewPassword" class="form-label">Parola Noua:</label>
                <input type="password" id="NewPassword" asp-for="NewPassword" class="form-control" required>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Schimbare Parolă</button>
            </div>
        </form>
    </div>

    <!-- Footer at the bottom -->
    <footer class="mt-auto">
        @Html.Partial("_Footer")
    </footer>

    <!-- Include Bootstrap JavaScript and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
