@{
    var currentTime = DateTime.Now.ToString("HH:mm:ss");
}

<!-- Sticky Footer -->
<footer class="footer mt-auto bg-dark text-white" style="font-size: 0.8rem;">
    <div class="container text-center">
        <p class="mb-0">© 2024 - PetroSol HelpDesk 2.2.0 | RO current time: <span id="current-time">@currentTime</span></p>
    </div>
</footer>

<script>
    function updateCurrentTime() {
        var now = new Date();
        var currentTime = now.toTimeString().split(' ')[0];
        document.getElementById('current-time').innerText = currentTime;
    }
    setInterval(updateCurrentTime, 1000);
</script>
