/* Page Container */
.lista-firma-page-container {
    width: 95%; /* Adjusted for better responsiveness */
    max-width: 1000px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin: 100px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Button Container */
.lista-firma-button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px; /* Add gap between buttons */
    position: relative; /* Make this container relative */
    margin-bottom: 20px;
}

#lista-firma-filter-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 16px;
}

    #lista-firma-filter-button:hover {
        background-color: #45a049;
    }

#lista-firma-filter-dropdown {
    display: none;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    width: 100%; /* Adjust width to cover both buttons */
    position: relative; /* Position relative to push down the table */
    margin-top: 15px;
}

    #lista-firma-filter-dropdown.visible {
        display: block;
    }

.lista-firma-filter-buttons {
    display: flex;
    gap: 10px; /* Add gap between buttons */
}

#lista-firma-apply-filter-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

    #lista-firma-apply-filter-button:hover {
        background-color: #45a049;
    }

#lista-firma-reset-filter-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

    #lista-firma-reset-filter-button:hover {
        background-color: #d32f2f;
    }

/* Table Container */
.lista-firma-table-container {
    width: 100%;
    overflow-x: auto;
}

#lista-firma-table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    table-layout: fixed;
}

    #lista-firma-table th, #lista-firma-table td {
        border: 1px solid #dddddd;
        padding: 10px;
        word-wrap: break-word;
        font-size: 14px;
        vertical-align: middle;
    }

    #lista-firma-table th {
        background-color: black;
        color: white;
        font-weight: bold;
        padding: 10px;
    }

    #lista-firma-table td {
        white-space: pre-wrap;
        overflow-wrap: break-word;
        padding: 10px;
    }

.no-entries-message {
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}
